<section class="facilities_area section_gap">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background="">
    </div>
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_w">Otel Olanakları</h2>
            <p>Çevre dostu sistemlere tutkuyla bağlı misafirler için özel hizmetler.</p>
        </div>

        <div class="row mb_30">
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-dinner"></i>Restoran</h4>
                    <p>Uluslararası ve yerel lezzetlerle zengin menü seçenekleri sunan restoranımız.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-bicycle"></i>Spor Kulübü</h4>
                    <p>Modern ekipmanlarla donatılmış spor alanı ve fitness aktiviteleri.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-shirt"></i>Yüzme Havuzu</h4>
                    <p>Açık ve/veya kapalı yüzme havuzlarımızda keyifli vakit geçirin.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-car"></i>Araç Kiralama</h4>
                    <p>Konforlu ulaşım için günlük ve saatlik araç kiralama hizmeti.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-construction"></i>Fitness Salonu</h4>
                    <p>Profesyonel ekipmanlarla donatılmış modern spor salonu.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-coffee-cup"></i>Kafe & Bar</h4>
                    <p>Gün boyu sıcak ve soğuk içeceklerin servis edildiği rahat ortam.</p>
                </div>
            </div>
        </div>
    </div>
</section>