<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Oda Seçeneklerimiz</h2>
            <p>
                Konforunuz ve ihtiyaçlarınız düşünülerek tasarlanmış odalarımızda keyifli ve huzurlu bir konaklama deneyimi yaşayın.
            </p>
        </div>
        <div class="row mb_30">
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/royal-master/image/room1.jpg" alt="">
                        <a href="#" class="btn theme_btn button_hover">Rezervasyon Yap</a>
                    </div>
                    <a href="#"><h4 class="sec_h4">Çift Kişilik Deluxe Oda</h4></a>
                    <h5>250$<small>/gece</small></h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/royal-master/image/room2.jpg" alt="">
                        <a href="#" class="btn theme_btn button_hover">Rezervasyon Yap</a>
                    </div>
                    <a href="#"><h4 class="sec_h4">Tek Kişilik Deluxe Oda</h4></a>
                    <h5>200$<small>/gece</small></h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/royal-master/image/room3.jpg" alt="">
                        <a href="#" class="btn theme_btn button_hover">Rezervasyon Yap</a>
                    </div>
                    <a href="#"><h4 class="sec_h4">Balayı Süiti</h4></a>
                    <h5>750$<small>/gece</small></h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="accomodation_item text-center">
                    <div class="hotel_img">
                        <img src="~/royal-master/image/room4.jpg" alt="">
                        <a href="#" class="btn theme_btn button_hover">Rezervasyon Yap</a>
                    </div>
                    <a href="#"><h4 class="sec_h4">Ekonomik Çift Kişilik Oda</h4></a>
                    <h5>200$<small>/gece</small></h5>
                </div>
            </div>
        </div>
    </div>
</section>